@model IEnumerable<E_Commerce.Entity.Concrete.Category>

<ul>
   @foreach (var category in Model)
    {
        <li><a href="/Shop/GetProductByCategory/@category.Id">@category.Name</a></li>

    }
</ul>