<ul>
    <li><a href="javascript:void(0)">Computers & Accessories</a></li>
    <li><a href="javascript:void(0)">Smartphones & Tablets</a></li>
    <li><a href="javascript:void(0)">TV, Video & Audio</a></li>
    <li><a href="javascript:void(0)">Cameras, Photo & Video</a></li>
    <li><a href="javascript:void(0)">Headphones</a></li>
</ul>