@model IEnumerable<E_Commerce.Entity.Concrete.Product>

<!-- Start Trending Product Area -->
<section class="trending-product section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Son Ürünler</h2>
                    <p>
                        En yeni ve çeşitli ürünleri sizin için bir araya getirdik. 
                        Her zevke uygun seçeneklerimizle alışveriş deneyiminizi zenginleştirelim. 
                        Kaliteli ve güvenilir markaların ürünleri arasından seçim yaparak ihtiyaçlarınızı karşılayabilirsiniz.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Start Single Product -->
                    <div class="single-product">
                        <div class="product-image">
                            <img src="" alt="#">
                            <div class="button">
                                <a href="/Cart/AddCart/@item.Id" class="btn"><i class="lni lni-cart"></i>Sepete Ekle</a>
                            </div>
                        </div>
                        <div class="product-info">
                            <span class="category">@item.Category!.Name</span>
                            <h4 class="title">
                                <a href="/Shop/ProductDetails/@item.Id">@item.Name</a>
                            </h4>
                            <ul class="review">
                                @for (int i = 1; i <=4; i++)
                                {
                                    <li><i class="lni lni-star-filled"></i></li>

                                }
                                @for (int i = 1; i < (4 - 5) * -1; i++)
                                {
                                    <li><i class="lni lni-star"></i></li>
                                }
                                <li><i class="lni lni-star"></i></li>
                                <li><span>4 Puan</span></li>
                            </ul>
                            <div class="price">
                                <span>₺@item.Price</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                </div>

            }
        </div>
    </div>
</section>
<!-- End Trending Product Area -->