@model IEnumerable<E_Commerce.Entity.Concrete.Category>

<div class="mega-category-menu">
    <span class="cat-button"><i class="lni lni-menu"></i>@_localization.Getkey("AllCategories").Value</span>
    <ul class="sub-category">
        @foreach (var category in Model)
        {
            <li>
                <a href="/Shop/GetProductByCategory/@category.Id">@category.Name <i class="lni lni-chevron-right"></i></a>
                <ul class="inner-sub-category">
                   @foreach (var subCategory in category.SubCategories!)
                    {

                        <li>
                            <a href="/Shop/GetProductBySubCategory/@subCategory.Id">@subCategory.Name</a>

                        </li>
                    }
                   
                </ul>
            </li>

        }
    </ul>
</div>
