<form class="search-form d-flex" method="get" action="@Url.Action("Search","Home")">
    <div class="search-input">
        <input type="text" style="width:350px;" name="query" placeholder="Ara">
    </div>
    <div class="search-btn">
        <button type="submit"><i class="lni lni-search-alt"></i></button>
    </div>
</form>