<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="icon-card mb-30">
        <div class="icon purple">
            <i class="lni lni-cart-full"></i>
        </div>
        <div class="content">
            <h6 class="mb-10">Yeni Siparişler</h6>
            <h3 class="text-bold mb-10">@ViewBag.TotalNewOrders</h3>
            <p class="text-sm text-success">
                <i class="lni lni-arrow-up"></i>  @ViewBag.PercentageChange
                <span class="text-gray">(30 Günlük)</span>
            </p>
        </div>
    </div>
    <!-- End Icon Cart -->
</div>