<div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="icon-card mb-30">
              <div class="icon primary">
                <i class="lni lni-credit-cards"></i>
              </div>
              <div class="content">
                <h6 class="mb-10">Toplam Gider</h6>
                <h3 class="text-bold mb-10">@ViewBag.TotalExpense</h3>
                <p class="text-sm text-danger">
                  <i class="lni lni-arrow-down"></i> @ViewBag.PercentageChange;
                  <span class="text-gray">Expense</span>
                </p>
              </div>
            </div>
            <!-- End Icon Cart -->
          </div>