@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<partial name="~/Views/Shop/BreadCrumbs.cshtml"></partial>

<!--====== Checkout Form Steps Part Start ======-->

<section class="checkout-wrapper section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="checkout-steps-form-style-1">
                    <ul id="accordionExample">
                        <li>
                            <h6 class="title" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                aria-expanded="true" aria-controls="collapseThree">
                                Kullanıcı Bilgileri
                            </h6>
                            <section class="checkout-steps-form-content collapse show" id="collapseThree"
                                     aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="single-form form-default">
                                            <label>Ad ve Soyad</label>
                                            <div class="row">
                                                <div class="col-md-6 form-input form">
                                                    <input type="text" placeholder="Adınız">
                                                </div>
                                                <div class="col-md-6 form-input form">
                                                    <input type="text" placeholder="Soyadınız">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single-form form-default">
                                            <label>Mail Adresi</label>
                                            <div class="form-input form">
                                                <input type="text" placeholder="Mail Adresiniz">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single-form form-default">
                                            <label>Telefon Numarası</label>
                                            <div class="form-input form">
                                                <input type="text" placeholder="Telefon Numarası">
                                            </div>
                                        </div>
                                    </div>
                            
                           
                                    <div class="col-md-6">
                                        <div class="single-form form-default">
                                            <label>İl</label>
                                            <div class="form-input form">
                                                <input type="text" placeholder="İl">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single-form form-default">
                                            <label>İlçe</label>
                                            <div class="form-input form">
                                                <input type="text" placeholder="İlçe">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single-form form-default">
                                            <label>Posta Kodu</label>
                                            <div class="form-input form">
                                                <input type="text" placeholder="Posta Kodunuz">
                                            </div>
                                        </div>
                                    </div>
                                  
                                  
                                    <div class="col-md-12">
                                        <div class="single-form form-default">
                                            <label>Adres</label>
                                            <div class="form-input message">
                                                <textarea style="height:100px;" type="text"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="checkout-payment-option">
                                            <h6 class="heading-6 font-weight-400 payment-title">
                                                Teslimat Seçin
                                            </h6>
                                            <div class="payment-option-wrapper">
                                                <div class="single-payment-option">
                                                    <input type="radio" name="shipping" checked id="shipping-1">
                                                    <label for="shipping-1">
                                                        <img src="https://via.placeholder.com/60x32"
                                                             alt="Sipping">
                                                        <p>PTT Kargo</p>
                                                        <span class="price">$10.50</span>
                                                    </label>
                                                </div>
                                                <div class="single-payment-option">
                                                    <input type="radio" name="shipping" id="shipping-2">
                                                    <label for="shipping-2">
                                                        <img src="https://via.placeholder.com/60x32"
                                                             alt="Sipping">
                                                        <p>Aras Kargo</p>
                                                        <span class="price">$10.50</span>
                                                    </label>
                                                </div>
                                                <div class="single-payment-option">
                                                    <input type="radio" name="shipping" id="shipping-3">
                                                    <label for="shipping-3">
                                                        <img src="https://via.placeholder.com/60x32"
                                                             alt="Sipping">
                                                        <p>Yurtiçi Kargo</p>
                                                        <span class="price">$10.50</span>
                                                    </label>
                                                </div>
                                             
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="steps-form-btn button">
                                            <button class="btn" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseThree" aria-expanded="false"
                                                    aria-controls="collapseThree">
                                                Önceki
                                            </button>
                                            <a href="javascript:void(0)" class="btn btn-alt">Kaydet ve Devam Et</a>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </li>
               
                        <li>
                            <h6 class="title collapsed" data-bs-toggle="collapse" data-bs-target="#collapsefive"
                                aria-expanded="false" aria-controls="collapsefive">
                                Ödeme Bilgileri
                            </h6>
                            <section class="checkout-steps-form-content collapse" id="collapsefive"
                                     aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="checkout-payment-form">
                                            <div class="single-form form-default">
                                                <label>Kart Üzerindeki Ad ve Soyad</label>
                                                <div class="form-input form">
                                                    <input type="text" placeholder="Kart Üzerinde Ad ve Soyad">
                                                </div>
                                            </div>
                                            <div class="single-form form-default">
                                                <label>Kart Numarası</label>
                                                <div class="form-input form">
                                                    <input id="credit-input" type="text"
                                                           placeholder="0000 0000 0000 0000">
                                                    <img src="assets/images/payment/card.png" alt="card">
                                                </div>
                                            </div>
                                            <div class="payment-card-info">
                                                <div class="single-form form-default mm-yy">
                                                    <label>Son Kullanma Tarihi</label>
                                                    <div class="expiration d-flex">
                                                        <div class="form-input form">
                                                            <input type="text" placeholder="MM">
                                                        </div>
                                                        <div class="form-input form">
                                                            <input type="text" placeholder="YYYY">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="single-form form-default">
                                                    <label>
                                                        CVC/CVV <span>
                                                            <i class="mdi mdi-alert-circle"></i>
                                                        </span>
                                                    </label>
                                                    <div class="form-input form">
                                                        <input type="text" placeholder="***">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="single-form form-default button">
                                                <button class="btn">Ödemeyi Onayla</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="checkout-sidebar">
                  
                    <div class="checkout-sidebar-price-table mt-30">
                        <h5 class="title">Pricing Table</h5>

                        <div class="sub-total-price">
                            <div class="total-price">
                                <p class="value">Subotal Price:</p>
                                <p class="price">$144.00</p>
                            </div>
                            <div class="total-price shipping">
                                <p class="value">Subotal Price:</p>
                                <p class="price">$10.50</p>
                            </div>
                            <div class="total-price discount">
                                <p class="value">Subotal Price:</p>
                                <p class="price">$10.00</p>
                            </div>
                        </div>

                        <div class="total-payable">
                            <div class="payable-price">
                                <p class="value">Subotal Price:</p>
                                <p class="price">$164.50</p>
                            </div>
                        </div>
                      
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== Checkout Form Steps Part Ends ======-->

<partial name="~/Views/Home/Footer.cshtml"></partial>
