@model IEnumerable<E_Commerce.Entity.Concrete.OrderItem>
@{
    ViewData["Title"] = "SalesByUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="dashboard section">
    <div class="container">
        <div class="row">
            @await Component.InvokeAsync("ProfileSidebar")
            <div class="col-lg-9 col-md-8 col-12">

                <div class="dashboard-block mt-0">
                    <h3 class="block-title">invoice</h3>

                    <div class="invoice-items default-list-style">

                        <div class="default-list-title">
                            <div class="row align-items-center">
                                <div class="col-lg-4 col-md-4 col-12">
                                    <p>Package</p>
                                </div>
                                <div class="col-lg-2 col-md-2 col-12">
                                    <p>Invoice date</p>
                                </div>
                                <div class="col-lg-2 col-md-2 col-12">
                                    <p>Due date</p>
                                </div>
                                <div class="col-lg-2 col-md-2 col-12">
                                    <p>Status</p>
                                </div>
                                <div class="col-lg-2 col-md-2 col-12 align-right">
                                    <p>Action</p>
                                </div>
                            </div>
                        </div>


                        @if (Model != null)
                        {
                            @foreach (var orderItem in Model)
                            {

                                <div class="single-list">
                                    <div class="row align-items-center">
                                        <div class="col-lg-4 col-md-4 col-12">
                                            <p>
                                                @orderItem.Product!.Name
                                                <span>$0.00</span>
                                            </p>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-12">
                                            <p>Jan 13,2023</p>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-12">
                                            <p>Feb 5,2021</p>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-12">
                                            <p class="paid">Paid</p>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-12 align-right">
                                            <ul class="action-btn">
                                                <li><a href="javascript:void(0)"><i class="lni lni-eye"></i></a></li>
                                                <li><a href="javascript:void(0)"><i class="lni lni-trash"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            }


                        }
                        else
                        {
                            <h4>Siparişiniz Bulunmamaktadır.</h4>
                        }


                        <div class="pagination left">
                            <ul class="pagination-list">
                                <li><a href="javascript:void(0)">1</a></li>
                                <li class="active"><a href="javascript:void(0)">2</a></li>
                                <li><a href="javascript:void(0)">3</a></li>
                                <li><a href="javascript:void(0)">4</a></li>
                                <li><a href="javascript:void(0)"><i class="lni lni-chevron-right"></i></a></li>
                            </ul>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


