@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="form-elements-wrapper mt-5">
    <div class="row">
        <div class="col-lg-6">
            <!-- input style start -->
            <div class="card-style mb-30">
                @using (Html.BeginForm("AddCategory", "Category", FormMethod.Post))
                {
                    <div class="input-style-1">
                        <label>Kategori Adı</label>
                        <input name="Name" type="text" placeholder="Kategori" />
                    </div>
                    <!-- end input -->
                    <button type="submit" class="main-btn primary-btn rounded-md btn-hover mt-5 ">Kategori Ekle</button>

                }
                <!-- end input -->
            </div>
        </div>
    </div>
</div>
