@model IEnumerable<E_Commerce.Entity.Concrete.Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="table-components">
    <div class="container-fluid">
        <!-- ========== title-wrapper start ========== -->
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="title mb-30">
                        <h2>Kategori Tablosu</h2>
                        <a href="/Category/AddCategory" class="main-btn primary-btn rounded-md btn-hover mt-5 ">Kategori Ekle</a>
                        <a href="/Category/AddSubCategory" class="main-btn primary-btn rounded-md btn-hover mt-5 ">Alt Kategori Ekle</a>
                        <a href="/Category/UpdateMainCategory" class="main-btn primary-btn rounded-md btn-hover mt-5 ">Ana Kategoriyi Güncelle</a>
                        <a href="/Category/UpdateSubCategory" class="main-btn primary-btn rounded-md btn-hover mt-5 ">Alt Kategoriyi Güncelle</a>
                    </div>
                </div>
                <!-- end col -->
                <div class="col-md-6">
                    <div class="breadcrumb-wrapper mb-30">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#0">Kontrol Paneli</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Kategoriler
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- ========== title-wrapper end ========== -->
        <!-- ========== tables-wrapper start ========== -->
        <div class="tables-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-style mb-30">
                        <h6 class="mb-10">Kategori Listesi</h6>
                        <div class="table-wrapper table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th><h5>Kategori Banner</h5></th>
                                        <th><h5>Kategori Adı</h5></th>
                                        <th><h5>Ana Kategori Sil</h5></th>

                                        <th><h5>Alt Kategori Adı</h5></th>
                                        <th><h5>Alt Kategori Sil</h5></th>
                                     
                                    </tr>
                                    <!-- end table row-->
                                </thead>
                                <tbody>
                                    @foreach (var category in Model)
                                    {
                                        <tr>
                                            <td class="min-width">
                                                <img src="~/@category.Image" style="width:40px; height:40px;" />
                                            </td>
                                            <td class="min-width">
                                                <p>@category.Name</p>
                                            </td>
                                            <td>
                                                <div class="action">
                                                    <a href="/Category/DeleteCategory/@category.Id" class="text-danger">
                                                        <i class="lni lni-trash-can"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>

                                      
                                        
                                            @foreach (var subCategory in category.SubCategories)
                                            {
                                                <tr>
                                                    <td class="min-width"></td>
                                                    <td class="min-width"></td>
                                                    <td></td>
                                                    @if (category.SubCategories.Count == 0)
                                                    {

                                                        <td class="min-width" colspan="3">
                                                            <p>Alt kategori bulunmamaktadır.</p>
                                                    </td>

                                                }
                                                else
                                                {
                                                    <td class="min-width">
                                                        <p>@subCategory.Name</p>
                                                    </td>
                                                }
                                              
                                                    <td>
                                                        <div class="action">
                                                            <a href="/Category/DeleteSubCategory/@subCategory.Id" class="text-danger">
                                                                <i class="lni lni-trash-can"></i>
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        
                                    }
                                </tbody>


                            </table>
                            <!-- end table -->
                        </div>
                    </div>
                    <!-- end card -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->


        </div>
        <!-- ========== tables-wrapper end ========== -->
    </div>
    <!-- end container -->
</section>