<div class="dashboard-block password-change-block">
    <h3 class="block-title">Change Password</h3>
    <div class="inner-block">
        <form class="default-form-style" method="post" action="#">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label>Current Password*</label>
                        <input name="current-password" type="password" placeholder="Enter old password">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label>New Password*</label>
                        <input name="new-password" type="password" placeholder="Enter new password">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label>Retype Password*</label>
                        <input name="retype-password" type="password" placeholder="Retype password">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group button mb-0">
                        <button type="submit" class="btn ">Update Password</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
