@model IEnumerable<E_Commerce.Entity.Concrete.Category>
<!-- Start Featured Categories Area -->
<section class="featured-categories section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>@_localization.Getkey("FeaturedCategories").Value</h2>
                    <p>@_localization.Getkey("FeaturedCategories.SubContent").Value</p>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Category -->
                    <div class="single-category">
                        <div class="row">
                            <div class="col-lg-6 col-mg-6">
                                <a href="/Shop/GetProductByCategory/@item.Id"><h3 class="heading">@item.Name</h3></a>

                            </div>
                        </div>
                        <div class="row">
                          
                            <div class="col-lg-6 col-md-6">
                                <ul>
                                    @foreach (var subCategory in item.SubCategories!)
                                    {
                                        <li><a href="/Shop/GetProductBySubCategory/@subCategory.Id">@subCategory.Name</a></li>
                                    }
                                </ul>
                            </div>
                            <div class="col-lg-6 col-md-6 d-flex align-items-center justify-content-center">
                                <div class="position-relative">
                                    <div style="width:200px; height:200px; overflow: hidden;">
                                        <img class="img-thumbnail" src="/@item.Image" style="width:100%; height:100%;" alt="Kategori Banner">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- End Single Category -->
                </div>
            }
        </div>
    </div>
</section>
<!-- End Features Area -->
