@model IEnumerable<E_Commerce.Entity.Concrete.Category>
<!-- Start Featured Categories Area -->
<section class="featured-categories section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Featured Categories</h2>
                    <p>Size özel olarak seçtiğimiz ve ilginizi çekebilecek çeşitli kategorileri bir araya getirdik. Farklı zevklere hitap eden ve ihtiyaçlarınızı karşılayabilecek ürünlerin yer aldığı kategorilerimizi keşfedin.</p>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Category -->
                    <div class="single-category">
                        <h3 class="heading">@item.Name</h3>
                        <ul>
                            @foreach (var subCategory in item.SubCategories!)
                            {
                                <li><a href="/Shop/Index/@subCategory.Id">@subCategory.Name</a></li>
                            }
                            
                        </ul>
                        <div class="images">
                            <img src="@item.Image" style="width:180px; height:180px;" alt="Kategori Banner">
                        </div>
                    </div>
                    <!-- End Single Category -->
                </div>
            }

        </div>
    </div>
</section>
<!-- End Features Area -->