@{
    ViewData["Title"] = "Özel Tasarım ve Toptan Satış";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<partial name="~/Views/Shop/BreadCrumbs.cshtml"></partial>

<!-- Start About Area -->
<section class="about-us section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 col-12">
                <div class="content-left">
                    <img src="https://via.placeholder.com/500x380" alt="#">
                </div>
            </div>

            <div class="col-lg-6 col-md-12 col-12">
                <div class="content-right">
                    <h2>Özel Tasarım Aydınlatma Ürünleriyle Kendi Stilinizi Yaratın</h2>
                    <p style="line-height:2">
                        Aydınlatma dünyasında fark yaratmak isteyenler için özel tasarım aydınlatma ürünleriyle benzersiz bir deneyim sunuyoruz. Her bir ürünümüz, özenle seçilmiş malzemeler ve uzman el işçiliği ile özel olarak tasarlanır. Kendi zevkinize ve mekanınızın ihtiyaçlarına uygun aydınlatma armatürleri ile atmosferi istediğiniz gibi şekillendirin. Estetik ve işlevselliği bir araya getiren özel tasarımlarımızla evinizi, iş yerinizi veya projenizi aydınlatın. Sizi bekleyen eşsiz aydınlatma deneyimine adım atın ve mekanlarınızı aydınlatmanın yeni yollarını keşfedin.
                    </p>
                </div>
            </div>

        </div>
        <div class="row align-items-center " style="margin-top:150px;">
            <div class="col-lg-6 col-md-12 col-12">
                <div class="content-right">
                    <h2>Proje ve İşletme İhtiyaçlarınıza Uygun Toptan Aydınlatma Ürünleri</h2>
                    <p style="line-height:2">
                        İşletmenizin veya projenizin büyük miktarda aydınlatma ürününe ihtiyacı varsa, toptan satış seçeneğimiz tam size göre. Proje yöneticileri, iç mimarlar ve toptan alıcılar için avantajlı fiyatlar ve esneklik sunuyoruz. Yüksek kaliteli ve dayanıklı aydınlatma ürünleriyle mekanlarınızı aydınlatmanın maliyet etkin bir yolunu keşfedin. Geniş ürün yelpazemiz arasından seçim yaparak ihtiyaçlarınıza uygun armatürleri bulun. Sizi toptan aydınlatma ürünlerimizle tanışmaya davet ediyoruz ve işletmenize veya projenize kaliteli aydınlatma çözümleri sağlamaktan mutluluk duyuyoruz.
                    </p>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 col-12">
                <div class="content-left">
                    <img src="https://via.placeholder.com/500x380" alt="#">
                </div>
            </div>

        </div>
    </div>

</section>
<!-- End About Area -->

<partial name="~/Views/Home/Footer.cshtml"></partial>
